<div class="banner1" id="home">
		<div class="container">
			<div class="header">
				<div class="menu">
                                     <a class="toggleMenu" href="#"><img src="images/menu-icon.png" alt="" /> </a>
					<ul class="nav" id="nav">
					<li class="active">
						<%= link_to 'Home', 	  root_path %></li>
					<li><%= link_to 'About', 	  about_path %></li>
					<li><%= link_to 'Academics',  academics_path %></li>
					<li><%= link_to 'Admissions', admissions_path %></li>
					<li><%= link_to 'Courses',    courses_path %></li>
					<li><%= link_to 'Contact', 	  contact_path %></li>
					</ul>
                                  <!----start-top-nav-script---->
		                      <script type="text/javascript" src="js/responsive-nav.js"></script>
					<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
		<!----//End-top-nav-script---->
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>